---
import Navigation from "../components/Navigation.astro";
import TailwindIndicator from "../components/TailwindIndicator.astro";
import { siteConfig } from "../site.config";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
  canonical?: string;
}

const {
  title = siteConfig.title,
  description = siteConfig.description,
  canonical = new URL(Astro.url.pathname, Astro.site).href,
} = Astro.props;
---

<!doctype html>
<html lang="fr" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="canonical" content={canonical} />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={siteConfig.title}
      href={new URL("rss.xml", Astro.site)}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body class="bg-white min-h-screen font-sans antialiased">
    <div class="container mx-auto p-2 relative flex min-h-screen flex-col">
      <a
        href="#skip"
        class="absolute -top-8 right-1/2 -translate-y-12 px-4 py-3 transition-transform duration-200 focus:top-4 focus:translate-y-3"
      >
        {"Skip to content"}
      </a>
      <Navigation />
      <main id="skip" class="flex-1 scroll-mt-4">
        <slot />
      </main>
      <TailwindIndicator />
    </div>
  </body>
</html>
